* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

html {
  font-size: 16px;
}

:root {
  --text-primary-color: #ffffff;
  --text-secondary-color: #999999;
  --background-color: #121212;
  --background-secondary-color: #262525;

  --theme: #c8f31d;
  --text-color: rgba(255, 255, 255, 0.87);
  --border: rgba(255, 255, 255, 0.08);
  --font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  color: var(--text-primary-color);
}
p {
  font-size: 1.5rem;
  color: var(--text-secondary-color);
}
#root {
  container-type: inline-size;
}
body {
  background-color: var(--background-color);
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
}
/* Keyframes for raising the element */
@keyframes raiseUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Initial state for elements */
.raise-up {
  transform: translateY(50px);
  opacity: 0;
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

/* Active state when animation starts */
.raise-up.active {
  animation: raiseUp 0.6s ease-out forwards;
}
/* Keyframes for sliding in from the left */
@keyframes slideInRight {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Initial state for elements */
.slide-right {
  transform: translateX(50px);
  opacity: 0;
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

/* Active state when animation starts */
.slide-right.active {
  animation: slideInRight 0.6s ease-out forwards;
}

/* Scrollbar container */
::-webkit-scrollbar {
  width: 1rem; /* Width of the scrollbar */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: var(--background-color, #f5f5f5); /* Track background color */
  border-radius: 10px; /* Rounded corners for the track */
}

/* For Firefox (limited support) */
* {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: var(--text-primary-color, #888)
    var(--background-color, #f5f5f5); /* Thumb and track colors */
}

.secondary-button .element {
  position: absolute;
  width: 0px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(65deg);
  background-color: var(--theme);
  z-index: 1;
  mix-blend-mode: multiply;
}

.secondary-button:hover .element {
  animation: rotate 1s ease-out forwards;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(65deg);
    width: 0px;
  }
  50% {
    width: 100px;
    transform: translate(-50%, -50%) rotateZ(-65deg);
  }
  100%{
    width: 500px;
    transform: translate(-50%, -50%) rotateZ(-65deg);

  }
}
