* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

html {
  font-size: 16px;
}

:root {
  --text-primary-color: #ffffff;
  --text-secondary-color: #999999;
  --background-color: #121212;
  --background-secondary-color: #262525;

  --theme: #c8f31d;
  --text-color: rgba(255, 255, 255, 0.87);
  --border: rgba(255, 255, 255, 0.08);
  --font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  color: var(--text-primary-color);
}
p {
  font-size: 1.5rem;
  color: var(--text-secondary-color);
}
#root {
  container-type: inline-size;
}
body {
  background-color: var(--background-color);
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
}

/* Scrollbar container */
::-webkit-scrollbar {
  width: 1rem; /* Width of the scrollbar */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: var(--background-color, #f5f5f5); /* Track background color */
  border-radius: 10px; /* Rounded corners for the track */
}

/* For Firefox (limited support) */
* {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: var(--text-primary-color, #888)
    var(--background-color, #f5f5f5); /* Thumb and track colors */
}




/* Add this CSS */
.swiper {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto; /* Let Swiper control the width */
}